{{#if add}}
  <form {{action "sendDataToController" on="submit"}}>
    {{input value=text placeholder=placeholder listId="listId" itemId="itemId"}}
  </form>
{{else}}
  <form {{action "editEachItem" on="submit"}}>
    {{input value=text placeholder=placeholder listId="listId" itemId="itemId"}}
  </form>
  {{/if}}
