{{#if isAdding}}
  {{#if item}}
    {{form-component placeholder="Name Your Item" newItem=(action newItem) listId=listId toggleIsAdding=(action "toggleIsAdding")}}
  {{else}}
  {{form-component placeholder="Name Your List" newList=(action newList) toggleIsAdding=(action "toggleIsAdding")}}
  {{/if}}
{{else}}
  <span onClick={{action "toggleIsAdding"}}>
    {{#link-to link}}
      {{linkText}}
    {{/link-to}}
  </span>
{{/if}}
